body {
  font-family: Tilt Warp;
  color: #fff;
  margin: 0px;
}
.headerNav {
  background: linear-gradient(135deg, #00ff84, #00c9ff);
  width: 100%;
  height: auto;
  font-size: 30px;
  text-shadow: #055270 0px 4px 2px;
  -webkit-text-stroke: 1px rgb(0, 138, 41);
  user-select: none;
}
.innerNav {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: grid;
  padding: 10px;
}
.innerNav img {
  cursor: pointer;
  box-shadow: #03524e 0px 0px 15px;
  border-radius: 50%;
}

.promo-uploader {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: grid;
}
.section-upload {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: grid;
  padding: 10px;
  margin: 20px;
  width: 90%;
  max-width: 1000px;
  height: auto;
  border: solid 4px #474747;
  border-radius: 15px;
}
.section-upload .desc {
  color: grey;
  font-size: 13px;
  margin: 5px;
}
.section-upload .hover-desc {
  user-select: none;
  color: grey;
  font-size: 13px;
  margin: 5px;
}
.section-upload .hover-desc:hover {
  user-select: none;
  color: #00c9ff;
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
}

input {
  border: solid 3px #474747;
  border-radius: 10px;
  width: 305px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  font-size: 13px;
}
input:invalid:focus {
  color: pink;
  border: solid 3px red;
}

.tag-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.promo-tag {
  display: flex;
  width: 150px;
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  cursor: pointer;
}
.promo-tag input {
  position: relative;
  width: max-content;
  top: -3px;
  margin-right: 5px;
  transform: scale(1.2);
  accent-color: #00ff62;
  background-color: #00c9ff;
}

.media-ctrl {
  justify-content: center;
  display: flex;
}
.media-btn {
  padding: 5px;
  margin: 8px;
  width: 15px;
  height: 15px;
  border: solid 3px #474747;
  border-radius: 10px;
  transition: transform 100ms ease-in-out;
  transform: scale(1);
  cursor: pointer;
}
.media-btn:hover {
  transform: scale(1.2);
}
.media-file {
  padding: 5px 20px 5px 20px;
  margin: 8px;
  height: 15px;
  border: solid 3px #474747;
  border-radius: 10px;
  cursor: pointer;
  line-height: 100%;
  white-space: nowrap;
  user-select: none;
  color: #d8d8d8;
  transition: transform 100ms ease-in-out, color 100ms ease-in-out, margin-left 100ms ease-in-out, margin-right 100ms ease-in-out;
}
.media-file:hover {
  transform: scale(1.1);
  margin-left: 5%;
  margin-right: 5%;
  color: #00ff84;
}
input[type="file"] {
  position: absolute;
  display: inline;
  width: 1px;
  height: 1px;
  z-index: -1;
  opacity: 0;
}

.submit {
  background: linear-gradient(125deg, #00ff84, #00c9ff);
  border: solid 5px #038142;
  border-radius: 20px;
  padding: 0px 50px 0px 50px;
  margin-bottom: 25px;
  width: auto;
  height: 60px;
  font-family: Tilt Warp;
  font-size: 25px;
  font-weight: 900;
  -webkit-text-stroke: 0.5px rgb(0, 138, 41);
  user-select: none;
  cursor: pointer;
  transition: transform 300ms ease-in-out, letter-spacing 500ms ease-in-out, border 300ms ease-in-out;
  transform: scale(1);
}
.submit:hover {
  letter-spacing: 2px;
  border: solid 5px #037981;
  transform: scale(1.1);
}
